.portfolios__wrapper {
    display: flex;
    width: 90%;
    margin: 11px auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.portfolios__wrapper .aspect__ratio {
    padding-top: 95px;
    width: 31%;
    margin: 1%;
}

.portfolios__wrapper img {
    border-radius: 15px;
}

.modal__container--visible {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 112, 112, 0.6);
    z-index: 10;
}

.modal__container--invisible {
    display: none;
}

.portfolio__tile .aspect__ratio{
    padding-top: 390px;
    width: 100%;
}
.portfolio__tile {
    width: 90%;
    display: block;
    margin: 33% auto;
    position: relative;
}

.portfolio__tile__description {
    width: 101%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 11px;
    font-size: 16px;
    font-weight: 500;
    transform: translateY(-64px);
    padding: 20px;
}

.cheveron--invisible {
    display: none;
}

.cheveron__wrapper--left{
    position: absolute;
    z-index: 33;
    left: 14px;
    top: 40%;
}

.portfolio__tile i {
    font-size: 20px;
    color: #000;
}

.cheveron__wrapper--right{
    position: absolute;
    z-index: 33;
    right: 14px;
    top: 40%;
}
