.reservations__wrapper {
    display: flex;
    width: 90%;
    margin: 5px auto;
    flex-direction: column;
}

.reservations__article {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: 15px;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.reservations__article .aspect__ratio {
    padding-top: 100px !important;
    width: 40%;
}

.reservations__article img {
    border-radius: 10px;
}

.reservations__article__store__description span {
    display: block;
}

.reservations__article__store__description {
    width: 55%;
}

.reservations__article__store__description > span:first-of-type {
    font-weight: 500;
    font-size: 15px;
}

.reservation__article__store__services {
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 500;
    background: linear-gradient(#DD5B85, #F56DB0);
    width: 90%;
}

.reservations__article > div:last-of-type {
    width: 100%;
}

.reservations__article__store__description button {
    color: #ffffff;
    background-color: #F56DB0;
    display: block;
    padding: 0 5px;
    margin: 5px auto 0 auto;
}

.reservations__article__store__description div {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.reservaiton__duration {
    font-size: 11px;
}

.reservation__address {
    font-size: 10px;
}

.reservation__date {
    font-size: 10px;
    text-align: center;
}