.popout__container--invisible{
    visibility: hidden;
    background-color: rgba(112, 112, 112, 0.1);
    overflow: hidden;
    display: none;
}

.popout__container--visible {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 112, 112, 0.1);
    z-index: 10;
}

.popout__container--visible div{
    width: fit-content;
    padding: 40px;
    margin: 30% auto;
    display: block;
    background-color: #ffffff;
    z-index: 9999999999999999999999;
}

.popout__container--visible span {
    color: #707070;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    display: block;
}

.popout__container--visible button {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 25px;
    color: white;
    font-weight: bold;
    background-color: #E36592 !important;
}